.agricultural-land-use {
    padding: 2rem;
    background-color: #fff;
  }
  
  .agricultural-land-use h2, .agricultural-land-use h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .agricultural-land-use p {
    text-align: center;
  }
  